#scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
  width: 8%;
  max-width: 60px;
  opacity: 0.3;
  z-index: 999;
}

#scroll-to-top:hover {
  cursor: pointer;
  opacity: 1;
}