#page-header {
  height: 400px;
  position: relative;
  padding-top: 120px;
  background-color: #8f6b87;
  color: white;
  background-image: url('../images/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #page-header {
    padding-top: 0;
    margin-right: 1em;
    width: 60%;
  }
}

#page-header img {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#page-header h2 {
  margin: inherit;
  text-align: center;
  font-weight: 300;
}

#page-header b {
  font-weight: 600;
}