#page-header {
  height: 400px;
  position: relative;
  padding-top: 120px;
  background-color: #ffe6a8;
  background-image: url('../images/background.png');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#page-header img {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#page-header h2 {
  margin: inherit;
  text-align: center;
  font-weight: 300;
}

#page-header b {
  font-weight: 600;
}