header {
  height: 400px;
  position: relative;
  padding-top: 120px;
  background-color: #ffe6a8;
  background-image: url('../images/background.png')
}

header div {
  margin-top: auto;
  margin-bottom: auto;
}

header img {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header h2 {
  margin: inherit;
  text-align: center;
  font-weight: 300;
}

header .first-name {
  font-weight: 600;
}