#navbar {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  z-index: 9999;
  background-color: #5a4b64;
  color: #ffffff;
  padding: 1.5em;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-content: center;
  text-align: center;
}

#navbar span {
  font-family: 'Bungee', cursive;
  font-size: 40px;
}

@media (max-width: 420px) {
  #navbar span {
    font-size: 30px;
  }
}

#navbar .toggle:hover {
  cursor: pointer;
}

#navbar .toggle:hover img {
  animation: pulse 1s infinite;
  animation-timing-function: linear; 
}

#navbar .toggle img {
  width: 18px;
  margin-top: 5px;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}
