#navbar {
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  z-index: 9999;
  background-color: #4056A1;
  color: #ffffff;
  padding: 1.5em;
}

#navbar span {
  font-family: 'Bungee', cursive;
  align-self: center;
  font-size: 40px;
}

#navbar .nav-right {
  align-self: center;
  float: right;
}