#new-tweet {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
  position: relative;
}

#new-tweet textarea {
  width: 100%;
  height: auto;
  font-weight: 600;
  background-color: #ded4d9;
  color: #524c64;
  box-sizing: border-box;
  border: none;
  border-bottom-style: solid;
  border-bottom-color: #524c64;
  resize: none;
}

#new-tweet input {
  align-self: left;
  float: left;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  background-color: #524c64;
  border: none;
  margin-top: 10px;
}

.counter {
  float: right;
  font-family: 'Bungee', cursive;
  margin-top: 10px;
}

.invalid {
  color: darkred;
}

#error-message {
  text-align: center;
  border: solid  darkred;
  margin-bottom: 1.5em;
  padding: 0.5em;
  color:  darkred;
  font-size: 20px;
}